*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family:'bebas' ;
    src: url(../fontes/BebasNeue-Regular.ttf);
}
:root{
    --primary-color: #a21f1d;
    --secundario-color: black;
    --teciaria-color: white;
}
body{
    background-color: var(--primary-color) ;
    font-family: 'bebas';
}
header{
    background-color: var(--secundario-color);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
.ajuste-menu{
   display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
header h1{
    color: var(--teciaria-color);
    font-size: 30px;
}
.camisas-de-time-txt{
    text-align: center;
    color: white;
    font-size: 25px;
    margin-top: 20px;
}
.card-text{
    display: flex;
    color: var(--teciaria-color);
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
    font-family: 'bebas';
    font-size: 20px;
}
.container-card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.card{
    background-color: var(--secundario-color);
    width: 180px;
    border-radius: 23px;
    border: 2px solid white;
    
}
.card-img-top{

    border-radius: 20px;
    border: none;
}
.card-body{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
footer{
    background-color: var(--secundario-color);
    height: 250px;
    margin-top: 50px;
}
footer h2{
    color: var(--teciaria-color);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 20px;
}
.avaliacao{
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.direitos{
    color: var(--teciaria-color);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    
}
.btn-abrir-menu img{
    color: #6201f4;
    height: 40px ;
}
.overlay-menu-mobile{
    background-color: rgba(0, 0, 0, 0.719);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}
.menu-mobile{
    background-color: var(--secundario-color);
    height: 100vh;
    font-size: 2em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
}
.menu-mobile.abrindo-menu{
    width: 60%;
    transition: 0.5s;
}
.menu-mobile.abrindo-menu ~ .overlay-menu-mobile{
    display: block;
}
.menu-mobile ul{
    font-family: Poppins;
    font-weight: bold;
    list-style: none;
    margin-top: 40px;
    text-align: left;
    font-size: 20px;
}
.menu-mobile ul .cor{
    color: red;
}
.menu-mobile ul li{
    padding: 0 25px;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.menu-mobile ul li a{
    text-decoration: none;
    color: white;
    display: block;
}

.menu-mobile ul #responsavel-botao-do-menu{
    text-align: center;
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 5px 0px;
}
